openapi: 3.1.0
info:
  title: Achord Connect v1
  version: 1.0.0
  description: Third-party server API for issuing one-time iframe launch tickets.
servers:
  - url: https://support.achord.cn
paths:
  /api/v1/integrations/universal/launch-tickets:
    post:
      operationId: createLaunchTicket
      summary: 创建 60 秒单次 iframe 票据
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchTicketRequest'
      responses:
        '201':
          description: 票据创建成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/LaunchTicketResponse'
        '401':
          $ref: '#/components/responses/Error'
        '413':
          $ref: '#/components/responses/Error'
        '422':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    LaunchTicketRequest:
      type: object
      required: [user]
      additionalProperties: false
      properties:
        user:
          type: object
          required: [id, name]
          additionalProperties: false
          properties:
            id:
              type: string
              minLength: 1
              maxLength: 191
              description: Stable external ID. Integer IDs, including 64-bit values, must be encoded as strings.
            name:
              type: string
              minLength: 1
              maxLength: 160
            email:
              type: [string, 'null']
              format: email
              maxLength: 320
            username:
              type: [string, 'null']
              maxLength: 160
            avatarUrl:
              type: [string, 'null']
              format: uri
              maxLength: 2048
            attributes:
              type: object
              additionalProperties:
                oneOf:
                  - type: string
                    maxLength: 500
                  - type: number
                  - type: boolean
        context:
          type: object
          additionalProperties: false
          properties:
            theme:
              type: string
              enum: [light, dark, system]
            locale:
              type: string
              minLength: 2
              maxLength: 20
            returnOrigin:
              type: string
              format: uri
              maxLength: 2048
              description: Required when the connection allows multiple Origins; must exactly match one configured Origin.
    LaunchTicketResponse:
      type: object
      required: [launchUrl, expiresAt]
      properties:
        launchUrl:
          type: string
          format: uri
          description: Contains a one-time ticket in the URL fragment.
        expiresAt:
          type: string
          format: date-time
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    Error:
      description: 请求失败
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
webhooks:
  achordEvent:
    post:
      summary: Achord Connect Webhook
      parameters:
        - in: header
          name: X-Achord-Event-Id
          required: true
          schema: { type: string }
        - in: header
          name: X-Achord-Timestamp
          required: true
          schema: { type: string }
        - in: header
          name: X-Achord-Signature
          required: true
          schema: { type: string, pattern: '^v1=[a-f0-9]{64}$' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, type, createdAt, data]
              properties:
                id: { type: string }
                type:
                  type: string
                  enum:
                    - request.created
                    - request.public_message.created
                    - request.status.changed
                    - request.unread.changed
                    - connector.test
                createdAt: { type: string, format: date-time }
                data: { type: object }
      responses:
        '200': { description: Accepted }
